ul.simple-inventory-list {
    margin: 0 auto;
    padding: 0;
}

.simple-inventory-listing {
    list-style: none;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.simple-inventory-listing:nth-child(2n) {
    background-color: #000;
}

.simple-inventory-listing > span, 
.simple-inventory-listing > a {
    display: inline-block;
}

.all-listing.simple-inventory-listing {
    border-top: 1px solid #fafafa;
    background-color: transparent;
}

.drop-link {
    color: #e33;
}

.drop-link:active,
.drop-link:focus,
.drop-link:hover {
    color: #f88;
}