ul.simple-inventory-list {
    margin: 0 0 0 4rem;
    padding: 1rem 0;
    width: 500px;
}

li.simple-inventory-listing {
    list-style: none;
    padding-left: 1rem;
}

li.simple-inventory-listing:not(:last-child) {
    border-bottom: 1px solid #eee;
    margin-bottom: 0.3rem;
    padding-bottom: 0.3rem;
}

li.simple-inventory-listing > span, 
li.simple-inventory-listing > a {
    display: inline-block;
    min-width: 4rem;
}
